*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: rgb(223, 223, 223);
}

.wrapper
{
    max-width: 1200px;
    margin: 0 auto;
}
header, footer
{
    background-color: rgb(20, 17, 17);
    padding: 15px 0 ;
    color: #fff;
}
.content
{
    background-color: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0,2);
    display: flex;
}
h3
{
    margin: 0;
}
main
{
    width: 75%;
}
aside{
    width:25%;
}