*{
    box-sizing: border-box;
}
body{
    margin: 0;
}

.wrapper
{
    max-width: 1200px;
    margin: 0 auto;
}
header, footer
{
    background-color: rgb(20, 17, 17);
    padding: 15px 0 ;
    color: #fff;
}