*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: rgb(223, 223, 223);
}

.wrapper
{
    max-width: 1200px;
    margin: 0 auto;
}
header, footer
{
    background-color: rgb(20, 17, 17);
    padding: 15px 0 ;
    color: #fff;
}
.content
{
    
    display: flex;
    padding: 20px 0;
}
h1,h2,h3,h4,h5,h6
{
    margin: 0;
}
.breadcrumb
{
    margin-top: 15px;
}
main
{
    background-color: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0,2);
    width: 75%;
    flex-grow: 1;
   
    padding: 20px 30px;

}
aside{
    background-color: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0,2);
    width:25%;
    margin-left: 5%;
    padding: 15px 20px;
    text-align: center;
    flex-shrink: 0;
}
header .wrapper{
    display: flex;
}
.logo
{
    font-size: 2em;
    font-weight: bold;
}